.list {
  width: 30em;
}

.list-item {
  margin: 1em;
  padding: 1em;
  background-color: #151515;
  color: var(--white);
  cursor: pointer;
  text-align: left;
}

.list-item * {
  margin: 0;
}

.list-item h3 {
  margin-bottom: 0.5em;
}

.list-item:hover h3 {
  color: var(--gold-color);
}
ul.list.list-item-actor {
  border-right: 1px solid;
}
.list-film-container {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
}
.list-film.action {
  color: var(--gold-color);
}
.list-film.action:hover {
  color: var(--white);
}
